<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">

        <title>Desafio Rede</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet">

    </head>

    <body>
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header  text-center">
                        <h3>Desafio Super Estag</h3>
                    </div>
                    <div class="card-body">
                        <form action="/handleData" method="post"> 
                            <div class="input-group form-group">
                                <input type="text" class="form-control" id="nome" name="nome"  placeholder="Nome">    
                            </div>
                            
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary" id="btn">Enviar</button>                    
                            </div>
                        </form>
                    </div>
                    <% if(validation.length){%>
                        <div class="alert alert-danger">
                            <strong><i class="fas fa-exclamation-triangle"></i>  Atenção</strong>
                            <div><%= validation[0].msg %></li>
                        </div>
                    <%}else{ %>
                    <div class="card-footer">
                        <div class="d-flex">
                            <label>Resultado: </label>
                            <% if(resultName.length){ %>
                                <div class="Text"><strong>Olá, <%= resultName %>!</strong></div>
                            <% } %>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
    </body>
</html>